.abtContain {
    background-image: linear-gradient(rgba(2, 80, 132, 0.8),
            rgba(0, 14, 23, 0.8)),
        url("../asset/about1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}